body {
  text-align: center;
  margin: 0px;
  padding: 0px;
  background: white;

  /*FUENTES*/
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

.header {
  background: #f1efef;
  border-bottom: 1px solid #ccc;
  border-top: 5px solid #61dafb;
  margin-bottom: 50px;
}

.center{
  width: 90%;
  margin: 0px auto;
}

.clearfix{
  clear:both;
  float:none;
}

#logo {
  width: 30%;
  font-size: 30px;
  float: left;
  margin-top: 35px;
}

#logo img {
  display: block;
  float: left;
  height: 60px;
  margin-top: -9px;
  margin-right: -10px;
  animation: girar infinite 30s linear;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 10%;
  border-radius: 50%;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu{
  width: 70%;
  float:right;
  font-size: 18px;
  margin-top: 25px;
}

.menu ul{
  line-height: 85px;
  width: 60%;
  float:right;
}

.menu ul li{
  display: inline-block;
  list-style: none;
  height: 46px;
  margin-left: 15px;
  margin-right: 10%;
  float: right;
}

.menu a{
  text-decoration: none;
  color: #444;
  transition: 300ms all;
}

.menu a:hover,
.active{
  color: #3cb2d3;
}

.content{
  width: 70%;
  float:left;
  min-height: 650px;
  margin-right: 20px;
}

.sidebar{
  width: 25%;
  float:right;
}

.sidebar-item{
  background: #f7f7f7;
  padding: 20px;
  margin-top: 30px;
}

.sidebar-item h3{
  text-transform: uppercase;
  font-size: 18px;
  margin:0px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid #eee;
}

.sidebar-item .btn{
  margin: 0px auto;
  margin-top: 10px;
}

.btn-success{
  background: rgb(23, 150, 19);
}

.btn-success:hover{
  background:black;
}

.btn-warning{
  background: rgb(250, 171, 0) !important;
  color:white !important;
  float:left;
}

.auth-form{
  width: 60%;
  margin: 2% auto;
  border: 3px solid #f1f1f1;
}

.footer{
  background: #f1efef !important;
  width: 100%;
  height: 100%;
  color: #444;
}

.subheader{
  font-size: 38px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.form-content {
  padding: 5%;
}

button:hover {
  opacity: 0.8;
}

.table-fixed {
  width: 100%;
  background-color: #f3f3f3;
}

.flex-vertical {
  height: 100%;
  margin: 0;
  display: flex;
  flex-flow: column;
}

.flags-table {
  display: flex;
  flex-flow: column;
  flex: 1;
  overflow: hidden;
}

tbody {
  height: 500px;
  overflow-y: scroll;
}

thead {
  display: block;
  flex-shrink: 0;
}
tr {
  display: flex;
  width: 100%;
}
th, td {
  min-width: 25px;
  display: flex;
}
th ~th,
td ~td {
  display: table-cell;
  flex: 1 1 22%;
  word-wrap: break-word;
}

article:hover, aside {
  background-color: #fafafa !important;
}

article, aside {
  background-color: #fff !important;
  margin-top: 10%;
}

/*RESPONSIVE*/

/*Desde la anchura 963px hasta la anchura 1488px de pantalla*/
@media (max-width: 1488px){
  /*Se ejecutarán estos estilos*/
  .center{
    width: 90%;
  }
}

/*Desde la anchura 0px hasta la anchura 963px de pantalla*/
@media (max-width: 1314px){
  .center{
    width: 95%;
  }
}

@media (max-width: 797px){
  #logo{
    float:none;
    width: 240px;
    margin: 0px auto;
    margin-top: 20px;
  }

  .content{
    float:none;
    width: 100%;
  }

  .sidebar{
    float:none;
    width: 60%;
    margin: 0px auto;
    margin-bottom: 50px;
  }

  .slider h1{
    padding-top: 115px;
    font-size: 25px;
  }

  .auth-form{
    width: 70%;
  }
}

@media (max-width: 497px){
  .header{
    min-height: 120px;
    overflow:hidden;
  }

  .slider{
    height: 180px;
  }

  .slider h1{
    font-size: 19px;
    padding-top: 30px;
  }

  .slider .btn-white{
    margin-top: 20px;
  }

  .slider.slider-small{
    height: 100px;
  }

  .slider.slider-small h1{
    padding-top: 35px;
  }

  article, aside {
    margin-top: 50% !important;
  }
}
